@model IEnumerable<EfcoreCodeFirstCRUD.Models.Student>

@{
    ViewData["Title"] = "Index";
}

@{
    string success_message = " ";
    if(TempData["success_on_create"]!=null)
        success_message = TempData["success_on_create"] as string;
    if(TempData["success_on_edit"]!=null)
        success_message = TempData["success_on_edit"] as string;
    if(TempData["success_on_delete"]!=null)
        success_message = TempData["success_on_delete"] as string;
 }
    
@if(!string.IsNullOrEmpty(success_message)){
  <span class="alert-success">@success_message</span>
}
<h1>List of students </h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
